body {
  font-family: "Comic Sans MS", "Comic Sans", papyrus;
  text-align: center;
  background-image: url("https://art.ngfiles.com/images/218000/218210_necro-skeletal_pixel-stars.png?f1348556351");
  background-size: 100px;
}

h1 {
  font-size: 50px;
  display: inline-block;
  color: beige;
  border-bottom: 1px dotted pink;
  letter-spacing: 10px;
}

img {
  width: 100px;
  border: 3px solid lightgrey;
}

figure {
  display: inline-block;
}

figure img {
  width: 150px;
}

figcaption {
  color: lightgrey;
  font-family: papyrus;
  font-size: 20px;
}

main {
  padding-top: 50px;
}

.setup {
  font-family: cursive;
  border: 2px solid lightgrey;
  font-size: 45px;
  color: beige
}

.punchline {
  position: relative;
  color: beige;
  background: linear-gradient(40deg, red, blue, orange, pink, purple, green);
  border: 3px outset lightgrey;
  font-family: fantasy;
  font-size: 50px;
  height: 200px;
  padding-top: 100px;
  margin: 50px;
}

.punchline p {
  top: -20px;
  left: -20px;
  font-family: monospace;
  color: lightblue;
  position: absolute;
  font-size: 20px;
  transform: rotate(-25deg);
  background: rgb(32, 3, 3);
}

.punchline:hover em {
  /* display: block; */
  opacity: 1;
}

.punchline em {
  /* display: none; */
  opacity: 0;
  background: lightpink;
  border: 9px dotted yellow;
}

main img {
  width: 500px;
}

ul {
  color: white;
}